<%- include('includes/_header.ejs') %>

<% if (info != '') { %>
    <div class="notification is-ubfi">
        <%= info %>
    </div>
<% } %>

<div class="columns">
    <% for (let personaje of personajes) { %>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        <a href="/personajes/<%= personaje.id %>">
                            <%= personaje.nombre %>
                        </a>
                        <br>
                    </p>
                    <%= personaje.create_at %>
                </div>
            </div>
        </div>
    <% } %>
</div>
<%- include('includes/_footer.ejs') %>