<%- include('includes/_header.ejs') %>

<% if(info != '') { %>
    <div class="notification is-info">
        <%= info %>
    </div>
<% } %>

<% for(let privilegio of privilegios) { %> 
    <% if(privilegio.nombre == "crear personajes") { %>
        <a class="button is-primary" href="/personajes/agregar">
            Agregar personaje
        </a>
    <% } %>
<% } %>

<br><br>

<div class="columns">
<% let i = 0; %>
<% for (let personaje of personajes) { %>
    <% if (i % 6 == 0) { %>
        </div>
        <div class="columns">
    <% } %>
    <% i++; %>
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img
                        src="/uploads/<%= personaje.imagen %>"
                        alt="Foto de <%= personaje.nombre %>"
                    />
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img
                            src="/uploads/<%= personaje.imagen %>"
                            alt="Foto de <%= personaje.nombre %>"
                            />
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">
                            <a href="/personajes/<%= personaje.id %>"><%= personaje.nombre %></a>
                        </p>
                    </div>
                </div>
                
                <div class="content">
                    <%= personaje.created_at %>
                </div>
            </div>
        </div>
    </div>
<% } %>
</div>

<br><br>

<% for(let privilegio of privilegios) { %> 
    <% if(privilegio.nombre == "crear personajes") { %>
        <a class="button is-primary" href="/personajes/agregar">
            Agregar personaje
        </a>
    <% } %>
<% } %>

<%- include('includes/_footer.ejs') %>