<%- include('includes/_header.ejs') %>
<% if (producto == 'lacteos') { %>
        <%- include('includes/_lacteos.ejs') %>     
<% } else if (producto == 'frutas') { %>
        <%- include('includes/_frutas.ejs') %>
<% } else if (producto == 'enlatados') { %>
        <%- include('includes/_enlatados.ejs') %>  
<% } else if (producto == 'granos') { %>
        <%- include('includes/_granos.ejs') %>   
<% } else {%>
        <p>Producto no encontrado</p>
<% } %>     
<%- include('includes/_footer.ejs') %>